:root {
  --offset-0: 0;
  --offset-4: 4px;
  --offset-6: 6px;
  --offset-8: 8px;
  --offset-12: 12px;
  --offset-16: 16px;
  --offset-20: 20px;
  --offset-24: 24px;
  --offset-32: 32px;
  --offset-40: 40px;
  --offset-48: 48px;
  --offset-64: 64px;
}
